*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.A{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
}




.스티커{
    flex-basis: 20%;
    padding: 1rem;
    background-color: black;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
}