*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 10px;
}

.갤러리{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.image-wrapper{
    width: calc(100% / 3);
    padding: 10px;
}

.image-A{
    width: calc(100% / 4);
    padding: 10px;
}

img{
    width:  100%;
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.img-A > img:nth-child(5){
    width:  500px;
    max-width: 100%;

}