*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 크롬계열의 브라우저 스크롤바 없애기 */
::-webkit-scrollbar{
    display: none;
}

.container{
    /* 파이어폭스 스크롤바 없애기 */
    scrollbar-width: none;
    /* 익스플로러 스크롤바 없애기 */
    -ms-overflow-style:none;

    width: 80vw;
    margin: 0 auto;
    overflow: hidden;
    border: 10px solid #555;


}

.gallery{
    display: grid;
    grid-template-columns: repeat(5, 80vw);
    column-gap: 1rem;
    overflow: scroll;
    height: 90vh;
    scroll-snap-type: both mandatory; 
    /* 모두 다 스넵 스크롤을 준다. */
}

.onDrag{
    scroll-snap-type:unset;
}

li{
    scroll-snap-align: center;
    display: inline-block;
    border-radius: 3px;
}