*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    background-color: rgb(127, 127, 160);
    display: flex;
    width: 100%;
    max-width: 600px;
    height: 400px;
    /* 양쪽으로 균등하게 여백을 만들어 중양정렬 */
    margin-right: auto;
    margin-left: auto;
    /* 중앙정렬 축약형 */
    margin: 0 auto;
    justify-content:center;
    align-items:center;

}

.flex div{
    flex-basis: calc(100%/5);
}

.container{
    display: flex;
    width: 100%;
    max-width: 600px;
    height: 400px;
    background-color: blanchedalmond;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: center;
}

.container > div{
    flex-basis: calc(100% / 5);
    flex-grow: 0;
}

.container > div:first-child{
    flex-basis: 40%;
}

.container > div:nth-child(7){
    flex-basis: 60%;
}

.container > div:nth-child(n+4){
    color: white;
}

.flex > div:nth-child(1),
.container > div:nth-child(1){
    background-color: hsl(332, 100%, 80%);
}
.flex > div:nth-child(2),
.container > div:nth-child(2){
    background-color: hsl(332, 100%, 70%);
}
.flex > div:nth-child(3),
.container > div:nth-child(3){
    background-color: hsl(332, 100%, 60%);
}
.container > div:nth-child(4){
    background-color: hsl(332, 100%, 50%);

}
.container > div:nth-child(5){
    background-color: hsl(332, 100%, 40%);
}
.container > div:nth-child(6){
    background-color: hsl(332, 100%, 30%);
}
.container > div:nth-child(7){
    background-color: hsl(332, 100%, 20%);
}
.container > div:nth-child(8){
    background-color: hsl(332, 100%, 10%);
}
.container > div:nth-child(9){
    background-color: hsl(332, 100%, 0%);
}