/*--------
ul li:nth-child(1),
ul li:nth-child(3){
     background-color: blue;
     color:yellow;
}
---------*/

/*홀수번째를 쓸때 odd, 짝수번째를 쓸때 even */

ul li{
     color:yellow;
}

ul li:nth-child(odd){
     background-color: red;
}

ul li:nth-child(even){
     background-color: blue;
     color:yellow;
}


ol li{
     background-color: yellow;
     color:green;
}

ol li:nth-child(1) {
     background-color: black;
}

ol li:last-child {
     background-color: green;
     color:yellow;
}


ul{
     /*border-width: 6px;*/
     /*border-style: dashed;*/
         /*solid, dotted */
     /*border-color: black;*/
     
     border: 3px solid black;
     border-radius:30px;
     overflow: hidden;
}
  

ol{
     border-top: 10px solid pink;
     border-left: 20px solid blue;
     border-right: 30px solid red;
     border-bottom: 50px solid green;
     /*border-radius:20px;*/
     /*-------
     border-top-right-radius:70px;
     border-bottom-left-radius:70px;
     -------*/
     overflow: hidden;
}
