*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.상단{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin:0 auto;
}

a{
    text-decoration: none;
    color: black;
}

.메뉴리스트{
    display: flex;
    list-style: none;
    gap:3rem /*16px*3=48px*/
}

.icon{
    display: flex;
    align-items: center;
    gap: 1rem;

}




